# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# For more information about the properties used in this file, please see the EditorConfig documentation:
# https://editorconfig.org

# Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# TypeScript files
[*.ts]
indent_style = space
indent_size = 2

# TypeScript JSX files
[*.tsx]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2
